body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    overflow-y: hidden;
    background-color: #222;
}

.circle {
    position: relative;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: orange;
}

.animate-1 {
    animation: white-rectangle 1s 0s infinite ease alternate;
}

.animate-2 {
    animation: white-rectangle 1s 0.1s infinite ease alternate;
}

.animate-3 {
    animation: white-rectangle 1s 0.2s infinite ease alternate;
}

@keyframes white-rectangle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}