* {
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    color: #fff;
    background-color: #222;
}
a{
    color:white;
}
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    height: 600px;
}

.option {
    color: orange;
    text-align: center;
    font-size: 50px;
}

.option-labels {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* hello */